<?xml version="1.0"?>

<model>
  <name>JAUV2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>


  <description>
    starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
  </description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
