<library path="lib/librqt_rover_gui">
  <class name="Rover Interface" type="rqt_rover_gui::RoverGUIPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>The Rover GUI</description>
    <qtgui>
      <label>Rover GUI</label>
      <icon type="file">resources/swarmathon-gui-icon.png</icon>
      <statustip>Rover GUI</statustip>
    </qtgui>
  </class>
</library>
