<?xml version="1.0"?>

<model>
  <name>Wheeled Mobility Testbed</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Kurt Leucht</name>
    <email>Kurt.Leucht@nasa.gov</email>
  </author>

  <description>
    A model of the wheeled test platform.
  </description>

  <depend>
  </depend>
</model>
