    <?xml version="1.0"?>
    <model>
      <name>gamma</name>
      <version>1.0</version>
      <sdf version='1.4'>model.sdf</sdf>

      <author>
       <name>NASA Swarmathon</name>
       <email>swarmathon@cs.unm.edu</email>
      </author>

      <description>
        Swarmie Version Two
      </description>
    </model>
